**/.classpath
**/.project
**/.settings

**/target
**/classes
**/.idea
**/*.iml
/**/bin/*
**/*.log

grouper/logs/
grouper/build.properties
grouper/build.log
grouper/conf/ehcache.xml
grouper/conf/grouper.client.properties
grouper/conf/grouper.hibernate.properties
grouper/conf/grouper.properties
grouper/conf/grouper-loader.properties
grouper/conf/log4j.properties
grouper/conf/morphString.properties
grouper/conf/server.properties
grouper/conf/sources.xml
grouper/conf/spy.properties
grouper/conf/subject.properties
grouper/conf/dist/
grouper/ddlScripts/
grouper/dist/
grouper/hsql/

grouper-misc/grouperClient/conf/grouper.client.properties
grouper-misc/grouperClient/conf/grouper.client.usage.txt
grouper-misc/grouperClient/dist/grouperClient.institution-2.2.0.tar.gz
grouper-misc/grouperClient/dist/grouperClient.jar
grouper-misc/grouperClient/misc/README.txt

**/org.eclipse.buildship.core.prefs
**/.settings/

subject/dist/
subject/doc/
**/build/dist/**/*.jar
grouper-ws/grouper-ws/build/*
grouper-ws/grouper-ws/webapp/WEB-INF/lib/*
grouper-misc/grouperActivemq/dist2/

build/

**/.gradle/

**/*.ipr
**/*.iws
/grouper.*.tar.gz
grouper-misc/googleapps-grouper-provisioner/docker-test/grouper/temp

**/.DS_Store
