**/target
**/classes
**/.idea
**/*.iml
/**/bin/*
/grouper/logs/
/grouper/build.properties
/grouper/build.log
grouper/conf/ehcache.xml
grouper/conf/grouper.client.properties
grouper/conf/grouper.hibernate.properties
grouper/conf/grouper.properties
grouper/conf/grouper-loader.properties
grouper/conf/log4j.properties
grouper/conf/morphString.properties
grouper/conf/server.properties
grouper/conf/sources.xml
grouper/conf/spy.properties
grouper/conf/subject.properties
**/*.log
