**/target
**/classes
**/.idea
**/*.iml
/**/bin/*
**/*.log

grouper/logs/
grouper/build.properties
grouper/build.log
grouper/conf/ehcache.xml
grouper/conf/grouper.client.properties
grouper/conf/grouper.hibernate.properties
grouper/conf/grouper.properties
grouper/conf/grouper-loader.properties
grouper/conf/log4j.properties
grouper/conf/morphString.properties
grouper/conf/server.properties
grouper/conf/sources.xml
grouper/conf/spy.properties
grouper/conf/subject.properties
grouper/conf/dist/
grouper/ddlScripts/
grouper/dist/
grouper/hsql/

grouper-misc/grouperClient/conf/grouper.client.properties
grouper-misc/grouperClient/conf/grouper.client.usage.txt
grouper-misc/grouperClient/dist/grouperClient.institution-2.2.0.tar.gz
grouper-misc/grouperClient/dist/grouperClient.jar
grouper-misc/grouperClient/misc/README.txt

subject/dist/
subject/doc/
**/build/dist/**/*.jar
grouper-ws/grouper-ws/build/*
grouper-ws/grouper-ws/webapp/WEB-INF/lib/*
grouper-misc/grouperActivemq/dist2/

build/

**/.gradle/

**/*.ipr
**/*.iws
/grouper.*.tar.gz
**/gradle/wrapper/*.*
apacheds-ldappc-schema/gradlew
apacheds-ldappc-schema/gradlew.bat
grouper/gradlew
grouper/gradlew.bat
grouper-misc/gradlew
grouper-misc/gradlew.bat
grouper-misc/cmuBilling/gradlew
grouper-misc/cmuBilling/gradlew.bat
grouper-misc/googleapps-grouper-provisioner/gradlew
grouper-misc/googleapps-grouper-provisioner/gradlew.bat
grouper-misc/grouper-aws-changelog/gradlew
grouper-misc/grouper-aws-changelog/gradlew.bat
grouper-misc/grouper-duo/gradlew
grouper-misc/grouper-duo/gradlew.bat
grouper-misc/grouper-installer/gradlew
grouper-misc/grouper-installer/gradlew.bat
grouper-misc/grouper-pspng/gradlew
grouper-misc/grouper-pspng/gradlew.bat
grouper-misc/grouper-shib/gradlew
grouper-misc/grouper-shib/gradlew.bat
grouper-misc/grouper-tier-scim/gradlew
grouper-misc/grouper-tier-scim/gradlew.bat
grouper-misc/grouper-tierApiAuthz-connector/gradlew
grouper-misc/grouper-tierApiAuthz-connector/gradlew.bat
grouper-misc/grouper-ui-dojo/gradlew
grouper-misc/grouper-ui-dojo/gradlew.bat
grouper-misc/grouper-voot/gradlew
grouper-misc/grouper-voot/gradlew.bat
grouper-misc/grouperActivemq/gradlew
grouper-misc/grouperActivemq/gradlew.bat
grouper-misc/grouperAtlassianConnector/gradlew
grouper-misc/grouperAtlassianConnector/gradlew.bat
grouper-misc/grouperClient/gradlew
grouper-misc/grouperClient/gradlew.bat
grouper-misc/grouperKimConnector/gradlew
grouper-misc/grouperKimConnector/gradlew.bat
grouper-misc/grouperScim/gradlew
grouper-misc/grouperScim/gradlew.bat
grouper-misc/morphString/gradlew
grouper-misc/morphString/gradlew.bat
grouper-misc/tierApiAuthzClient/gradlew
grouper-misc/tierApiAuthzClient/gradlew.bat
grouper-misc/tierApiAuthzServer/gradlew
grouper-misc/tierApiAuthzServer/gradlew.bat
grouper-misc/wsSourceAdapter/gradlew
grouper-misc/wsSourceAdapter/gradlew.bat
grouper-qs-builder/gradlew
grouper-qs-builder/gradlew.bat
grouper-ui/gradlew
grouper-ui/gradlew.bat
grouper-ws/gradlew
grouper-ws/gradlew.bat
grouper-ws/grouper-ws/gradlew
grouper-ws/grouper-ws/gradlew.bat
grouper-ws/grouper-ws-java-generated-client/gradlew
grouper-ws/grouper-ws-java-generated-client/gradlew.bat
grouper-ws/grouper-ws-java-manual-client/gradlew
grouper-ws/grouper-ws-java-manual-client/gradlew.bat
grouper-ws/grouper-ws-test/gradlew
grouper-ws/grouper-ws-test/gradlew.bat
subject/gradlew
subject/gradlew.bat
