build
src/main/resources/ehcache.xml
src/main/resources/grouper.cache.properties
src/main/resources/grouper.client.properties
src/main/resources/grouper.hibernate.properties
src/main/resources/grouper.properties
src/main/resources/grouper-loader.properties
src/main/resources/ldap.properties
src/main/resources/log4j.properties
src/main/resources/morphString.properties
src/main/resources/sources.xml
src/main/resources/spy.properties
src/main/resources/grouper-ui.properties
src/main/resources/grouper-ws.properties
src/main/resources/penn*
src/main/resources/grouperText/grouper.text.en.us.properties
src/main/resources/grouperText/grouper.text.fr.fr.properties
ddlScripts
dist
spy.log
temp
test.log
/grouperHSQL.lck
/grouperHSQL.properties
/grouperHSQL.script
/grouperImportRecord*
/.classpath
/.project
/binary/
/grouperClientFailoverState.bin
src/main/java/SampleGrouperMain.java
src/main/java/Test*
src/main/java/Covid*.java
felix-cache