build
conf/ehcache.xml
conf/grouper.cache.properties
conf/grouper.client.properties
conf/grouper.hibernate.properties
conf/grouper.properties
conf/grouper-loader.properties
conf/ldap.properties
conf/log4j.properties
conf/morphString.properties
conf/sources.xml
conf/spy.properties
conf/grouper-ui.properties
conf/grouper-ws.properties
conf/penn*
conf/grouperText/grouper.text.en.us.properties
conf/grouperText/grouper.text.fr.fr.properties
ddlScripts
dist
spy.log
temp
test.log
/grouperHSQL.lck
/grouperHSQL.properties
/grouperHSQL.script
/grouperImportRecord*
/.classpath
/.project
/binary/
/grouperClientFailoverState.bin
src/grouper/SampleGrouperMain.java
src/grouper/Test*.java
src/grouper/Covid*.java
felix-cache