<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC '-//Hibernate/Hibernate Configuration DTD//EN'
    'http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd'>
<hibernate-configuration>
	<session-factory>

		<!--
		<!-- connection properties for HypersonicSQL -->
		<property name="hibernate.dialect">net.sf.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:/eclipse/workspace/signet/data/signet</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"/>
		-->

		<!-- connection properties for Sybase -->
		<!--
		<property name="hibernate.dialect">net.sf.hibernate.dialect.Sybase11_9_2Dialect</property>
		<property name="hibernate.connection.driver_class">com.sybase.jdbc2.jdbc.SybDriver</property>
		<property name="hibernate.connection.url">@DB_URL@</property>
		<property name="hibernate.connection.username">@DB_USERNAME@</property>
		<property name="hibernate.connection.password">@DB_PASSWORD@</property>
		-->

		
		<!-- general connection properties -->
		<property name="hibernate.show_sql">false</property>
		<mapping resource="edu/internet2/middleware/signet/SubsystemImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/CategoryImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/FunctionImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/PermissionImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/TreeImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/TreeNodeImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/SubjectImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/PrivilegedSubjectImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/AssignmentImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/SubjectTypeImpl.hbm.xml"/>
		<mapping resource="edu/internet2/middleware/signet/TreeTypeImpl.hbm.xml"/>
		<!--
		<mapping resource="edu/internet2/middleware/signet/SubjectAttributeValue.hbm.xml"/>
		-->
	</session-factory>
</hibernate-configuration>
