<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE
  hibernate-configuration
  PUBLIC
  '-//Hibernate/Hibernate Configuration DTD//EN'
  'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<!-- $Header: /home/hagleyj/i2mi/signet/config/hibernate.cfg.xml,v 1.28 2007-02-27 03:01:49 ddonn Exp $ -->

<hibernate-configuration>
  <session-factory>
    
    <!-- Database connection properties -->
    <property name="hibernate.dialect">@DB_DIALECT@</property>
    <property name="hibernate.connection.driver_class">@DB_DRIVER@</property>
    <property name="hibernate.connection.url">@DB_URL@</property>
    <property name="hibernate.connection.username">@DB_USERNAME@</property>
    <property name="hibernate.connection.password">@DB_PASSWORD@</property>
    
    <!-- general configuration properties -->
    <property name="hibernate.show_sql">false</property>
<!-- 	<property name="hibernate.cglib.use_reflection_optimizer">false</property> -->

	<!-- Use the Hibr 2.x query translator -->
<!--	<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>  -->
	<!-- Use the Hibr 3.x query translator (default) -->
	<property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>

	<!-- database connection pool properties for Jakarta Commons DBCP -->
	<property name="hibernate.connection.pool_size">25</property>
	<property name="hibernate.dbcp.maxActive">25</property>
	<property name="hibernate.dbcp.initialSize">25</property>
	<property name="hibernate.dbcp.maxIdle">8</property>
	<property name="hibernate.dbcp.maxWait">-1</property>

	<!-- DBCP PreparedStatements config -->
	<property name="poolPreparedStatements">true</property>
	<property name="hibernate.dbcp.ps.maxActive">64</property>
	<property name="hibernate.dbcp.ps.maxIdle">64</property>
	<property name="hibernate.dbcp.ps.maxWait">-1</property>
	<property name="hibernate.dbcp.ps.whenExhaustedAction">1</property>


	<!-- import the object/relational mapping files -->

	<mapping resource="edu/internet2/middleware/signet/subjsrc/SignetSubject.hbm.xml" />
	<mapping resource="edu/internet2/middleware/signet/subjsrc/SignetSubjectAttr.hbm.xml" />

    <mapping
      resource
        ="edu/internet2/middleware/signet/SubsystemImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/CategoryImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/FunctionImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/PermissionImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/TreeImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/TreeNodeImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/AssignmentImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/ProxyImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/TreeNodeRelationship.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/ChoiceSetImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/ChoiceImpl.hbm.xml"/>
    <mapping
      resource
        ="edu/internet2/middleware/signet/LimitImpl.hbm.xml"/>
	<mapping
      resource
        ="edu/internet2/middleware/signet/AssignmentHistory.hbm.xml"/>
	<mapping
      resource
        ="edu/internet2/middleware/signet/ProxyHistory.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
