# $Header: /home/hagleyj/i2mi/signet/config/sqltool.rc,v 1.1 2007-04-18 00:11:31 ddonn Exp $
# This file defines the "localhost-sa" URL-id that's used to connect to
# the HypersonicSQL database server that underlies the Signet demo installation.
#
# The construct @DB_URL@ is replaced during the Ant build to the same value
# as used during the runtime (see property db.cfg.url* in signetBuild_QS.properties).
#
urlid localhost-sa
url @DB_URL@
username sa
password