/* DEFAULT */
a { 
	text-decoration: none; 
	color: #0053B3; 
	}
	
a:hover {
	text-decoration: underline; 
	color: #0053B3; 
	}
	
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
	color: #000; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	}
/* DEFINITION LIST */
dl {
	font-size: 11px/16px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px; 
	}
	
dt  {
	color: #000;
	font-style: normal;
	}
	
dd  {
	color: #333;
	font-style: normal;
	margin: 0px 0px 5px 20px;
	}	

fieldset {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	width: 50%;
	border: 1px solid #DDD;
	margin: 0px 0px 5px 0px;
	padding: 10px 10px 10px 10px;
}
form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

h1 {
	margin: 0px 0px 3px 3px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
	color: #016582; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight: bold;
	}

hr {
	color: #009CCE;
	height: 1px;
}
legend {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold;
}
/*
iframe {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	height: 200px;
	scrolling: auto;
	border: 1px solid #DDD;
}
*/
img {
	border-width: 0px;
	}
img.popup {
	float: right;
	border-width: 0px;
	margin: 2px;
	}
img.icon {
	vertical-align: middle;
	}
optgroup {
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : uppercase;
	font-weight: normal;
	font-style: normal;	
	background-color: #DDD;
}
option {
	background-color: #FFF;
	text-decoration: none;
	text-transform : none;
}
p {
	margin: 0px 0px 10px 0px;
}
p.nomarg {
	margin: 0px 0px 0px 0px;
}
.section {
	clear: both;
}
.section h2 {
	text-decoration: none;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : uppercase;
	font-weight: bold;
	background-color: #BAD7DA;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
	vertical-align: middle;
}	
select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
}
select.long {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	text-transform : none;	
	width: 170px;
}
select.short {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	text-transform : none;
	width: 100px;
}	
table {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	caption-side: bottom;
}
table.invis {
	width: none;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
table.invis td {
	border-bottom: none;	
}
td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	padding: 3px;
	vertical-align: top;
	border-bottom: 1px solid #DDD;		
}
table.invis td {
	border: none;
}
th {
	text-align: left;
	vertical-align: middle;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: #4AA8C1;
	text-decoration: none;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	white-space: nowrap;
}

/* UNORDERED LIST */
ul {
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	list-style-position: outside; 
	marker-offset: 4px; 
	list-style-type: square;
	margin-top: 0px;
	}

ul.arrow {
	list-style-type: disc;
	list-style-image: url(../images/arrow.gif);
	}

ul.none {
	list-style-type: none;
	}		
	
/* ORDERED LIST */
ol {
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	list-style-position: outside; 
	marker-offset: 4px; 
	list-style-type: decimal
	}
	

/* LAYOUT AND POSITIONING */

#Content {
	margin-left: 186px;
	margin-right: 0px;
	background-color: #fff;
	padding: 0px 0px 0px 0px;
	}
#Footer {
	clear: left;
	margin-top: 50px;
	color: #666;
}	
#Header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 6px 6px 0px 6px;
}

#Layout {
	position: absolute;
	top: 93px;
	left: 6px;
	right: 6px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
}

#Logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 60px;
	}
		
#Navbar {
	position: absolute;
	top: 70px;
	left: 0px;
	width: 100%;
	padding: 2px 0px 2px 2px;
	color: #fff;
	background-color: #016582; /* per GP; was #10104A  */
	text-align: left;
}

#Navbar a { 
	text-decoration: none; 
	color: #FFF;  
	font-style: normal;
	}
	
#Navbar a:hover { 
	text-decoration: underline; 
	color: #FFF;  
	font-style: italic;
	}
	
#Signet {
	position: absolute;
	top: 0px;
	right: 12px;
	height: 60px;
	}

#Sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 180px;
	text-align: left;
	background-color: #fff;
}

#Scroll {
	position: relative;
	border: 1px solid #016582;
	margin-top: 0px;
	height: 250px;
	width: 450px;
	overflow: auto;
	}
	
#Results {
	height: 250px;
	border: 1px solid #CCC;
	background-color: #FFF;		
/*	overflow: auto;	*/
}	
	
#ViewHead {
	border: 1px solid #BAD7DA;
	margin: 5px 0px 5px 0px;
	padding: 3px;
/*	position: absolute;
	top: -92px; */
}	


/* CONTENT SPECIFIC */


#Sidebar h2 {
	text-decoration: none;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : uppercase;
	font-weight: bold;
	background-color: #BAD7DA;
	padding: 3px 3px 3px 3px;
	margin: -3px -3px 3px -3px;
	}
/*	
.actionbox {
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
	}
*/
.button1 {
	margin: 0px 0px 0px 3px;
	background-color: #EEE;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;	
}
.button-def {
	margin: 15px 0px 15px 0px;
	background-color: #EEE;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
}

.button2 {
	margin: 15px 0px 15px 0px;
	background-color: #EEE;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;	
}
.columnhead {
	text-decoration: none;
	color: #FFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: #4AA8C1;
	padding: 0px 3px 1px 3px;
}

.columnhead img {
	float: left;
}
.description {
	float: left;
	width: 300px;
	z-index: 100;
	height: 120px;
	margin: 0px 0px 0px 15px;
}
.dropback {
	color: #666;
}
.findperson {
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
}
.grant {
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
}
.helpbox {
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
}
.ident {
	color: #666;
}
.info {
	float: right;
}
.logout {
	float: right;
	margin-right: 12px;
}
.label {
	color: #666;
}
.select {
	font-weight: normal;
	font-style: italic;
}
.status {
	color: #CC0000;
} 
/*
.tablecontrols {
	text-decoration: none;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : none;
	font-weight: normal;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
	vertical-align: middle;	
} 
*/
.tableheader {
	background-color: #BAD7DA; 
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}
.tableheader h2 {
  display: inline;
	text-decoration: none;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : uppercase;
	font-weight: bold;
	margin: 0px 10px 0px 0px;
}
.tableheader a{
	text-transform : none;
	font-weight: normal;
	float: right;
	margin-left: 10px;
	margin-top: -3px;
	vertical-align: middle;
}	
.tableheader fieldset {
  display: inline;
	width: none;
	border: none;
	margin: 0px;
	padding: 0px;
}
.views {
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #D8EDEF;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 10px 0px;
}