#title {
	font-size:13px;
	line-height:18px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	position:relative;
	
	display:block;

}

#subtitle {
	font-size:11px;
	color:333;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;

	position:relative;
	display:inline;
	line-height:16px;
}

.noCSSOnly {
	display:none;
}

#LeftInNav {float:left;}
#RightInNav {float:right;margin-right:9px}
#grouperIntro {
	width:50%;
	float:left;
}
#grouperLogin {
	float:right;
	width:45%;
}

#grouperHelpForMenu {
	float:right;
	width:45%;
}

.groupSubject {
 font-weight: bold;
 
}


.browseStemsLocationHere {
 font-weight: bold;
 font-size:120%;
}

.groupStuff {
	background-color:ffddcc;
	padding-below:5px;
}

.groupInfo {
	//background-color:ddeeff;
}

Style Information - http://www.bris.ac.uk/events/
chrome://webdeveloper/content/stylesheets/view_style_information.css

*    (line 2)
{
    cursor: crosshair;
}


.linkButton a   
{
    padding-top: 1px;
    padding-right-value: 5px;
    padding-bottom: 1px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	padding-left:3px;
	padding-right:3px;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(121, 132, 165);
    border-right-color: rgb(121, 132, 165);
    border-bottom-color: rgb(121, 132, 165);
    border-left-color: rgb(121, 132, 165);
	line-height:220%;
}

.linkButton a:link:hover, .linkButton a:visited:hover   
{
    color: rgb(240, 12, 34);
    text-decoration: none;
    background-color: transparent;
	line-height:220%;
}

.linkButton a:link, .linkButton a:visited   
{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 71, 121);
    text-decoration: none;
	line-height:220%;
}

.linkButton a:hover  
{
    color: rgb(255, 255, 255);
    background-color: rgb(176, 28, 46);
    text-decoration: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(204, 110, 121);
    border-right-color: rgb(204, 110, 121);
    border-bottom-color: rgb(204, 110, 121);
    border-left-color: rgb(204, 110, 121);
	line-height:220%;
}
.pageBlurb {
	width:50%;
	margin-bottom:12px;
	display:block;
	clear:left;
}
.membershipListScope {
	display:block;
}

.groupInfo .formLeft {
	background-color:#009CCE;
	color:ffffff;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.groupInfo .formRow {
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
	border-bottom-style:solid;
	clear:both;
}

fieldset.nested {
	display:block;
	clear:left;
	width:100%;
}
.advancedSearchGroups .formLeft {
	
	width:350px;
	
}
.formLeft {
	display:block;
	float:left;
	clear:left;
	line-height:20px;
	width:140px;
	margin-right:10px;
}
.formRight {
	display:block;
	float:left;
	clear:right;
	line-height:20px;
}

.formRow {
	clear:both;
	margin-top:3px;
}