#title {
	font-size:13px;
	line-height:16px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	position:relative;
	display:block;
}

#subtitle {
	font-size:11px;
	color:333;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;

	position:relative;
	display:inline;
	line-height:16px;
}

.noCSSOnly {
	display:none;
}

#LeftInNav {float:left;}
#RightInNav {float:right;margin-right:9px}

.inNav{font-size:8pt;
           height:1.5em;}
#grouperIntro {
	width:50%;
	float:left;
}
#grouperLogin {
	float:right;
	width:45%;
}

#grouperHelpForMenu {
	float:right;
	width:45%;
}

.groupSubject {
 font-weight: bold;
 
}


.browseStemsLocationHere {
 font-weight: bold;
 font-size:120%;
}

.groupStuff {
	background-color:ffddcc;
	padding-below:5px;
}

.groupInfo {
	
}


.groupLinks {
	clear:both;
}


.linkButton a   
{
    padding-top: 1px;
    padding-right-value: 5px;
    padding-bottom: 1px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
	padding-left:3px;
	padding-right:3px;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(121, 132, 165);
    border-right-color: rgb(121, 132, 165);
    border-bottom-color: rgb(121, 132, 165);
    border-left-color: rgb(121, 132, 165);
	line-height:220%;
}

.linkButton a:link:hover, .linkButton a:visited:hover   
{
    color: rgb(240, 12, 34);
    text-decoration: none;
    background-color: transparent;
	line-height:220%;
}

.linkButton a:link, .linkButton a:visited   
{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 71, 121);
    text-decoration: none;
	line-height:220%;
}

.linkButton a:hover  
{
    color: rgb(255, 255, 255);
    background-color: rgb(176, 28, 46);
    text-decoration: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(204, 110, 121);
    border-right-color: rgb(204, 110, 121);
    border-bottom-color: rgb(204, 110, 121);
    border-left-color: rgb(204, 110, 121);
	line-height:220%;
}
.pageBlurb {
	width:50%;
	margin-bottom:12px;
	display:block;
	clear:left;
}
.membershipListScope {
	display:block;
}

.groupInfo .formLeft {
	background-color:#6699ff;
	color:000000;
	font-weight:bold;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.groupTypes .formRight .formLeft {
	background-color:#cccccc;
	color:000000;
}
.groupTypes .formLeft {
	background-color:#99ccff;
	color:000000;
}
.groupInfo .formRow {
	border-bottom-color:#cccccc;
	#border-bottom-width:1px;
	#border-bottom-style:solid;
	clear:both;
}

fieldset.nested {
	display: block;
	clear: both;
}


.multiOptionItem {
	width:120px;
	
}

.formLeft {
	display:block;
	float:left;
	clear:left;
	line-height:20px;
	width:140px;
	margin-right:10px;
}
.formRight {
	display:block;
	float:left;
	clear:right;
	line-height:20px;
}

.formRow {
	display:block;
	clear:both;
	margin-top:0px;
}

.advancedSearchGroups .formLeft {
	
	width:140px;
	
}

.advancedSearchGroups .formRight {
	width:260px;
}

.typesHeader .formLeft{
	background-color:rgb(1, 87, 130);
	color:#ffffff;
	font-weight:bold;
}
.typesHeader {
	margin-top:10px;
}

.typesHeader .formRight .formLeft {
	background-color:rgb(1, 87, 130);
	color:#ffffff;
	font-weight:bold;
}

.typesHeader .formRow .formRight .formRow .formRight {
	background-color:rgb(1, 87, 130);
	color:#ffffff;
	font-weight:bold;
	width:200px;	
}

.termQuery {
	font-weight:bold;
}

.termField {
	font-style:italic;
}

.fieldIsList {
	font-style:italic;
	width:150px;
	background-color:#cccccc;
}


.compositeDef {
	margin-left:25px;
	margin-bottom:20px;
	
}
