<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: web.xml,v 1.3 2009-08-13 17:56:47 mchyzer Exp $ -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <filter>
    <!-- keeps the request and response in threadlocal so they dont have to be passed around -->
    <filter-name>Grouper UI filter</filter-name>
    <filter-class>edu.internet2.middleware.grouper.grouperUi.j2ee.GrouperUiJ2ee</filter-class>
  </filter>
  
  <!-- Map the filter to a Servlet or URL -->
  <filter-mapping>
    <filter-name>Grouper UI filter</filter-name>
    <url-pattern>/grouperUi/app/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UiServlet</servlet-name>
    <servlet-class>edu.internet2.middleware.grouper.grouperUi.j2ee.GrouperUiRestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UiServlet</servlet-name>
    <url-pattern>/grouperUi/app/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UI</web-resource-name>
      <url-pattern>/grouperUi/app/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>grouper_user</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UI</web-resource-name>
      <url-pattern>/grouperUi/appHtml/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>grouper_user</role-name>
    </auth-constraint>
  </security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Grouper Application</realm-name>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
			The role that is required to log in to web service
		</description>
		<role-name>grouper_user</role-name>
	</security-role>
  
  <session-config>
    <session-timeout>60</session-timeout> 
  </session-config>
  
</web-app>