##################################
## AttributeDefName picker
## http://localhost:8090/grouper/grouperUi/appHtml/grouper.html?operation=AttributeDefNamePicker.index&attributeDefNamePickerName=attributeDefNamePickerExample&attributeDefNamePickerElementName=subject1

#comma separated css urls (relative or absolute) for skinning this attributeDefName picker
extraCss = ../../grouperExternal/public/assets/css/attributeDefNamePickerExample.css
#extraCss = http://localhost:8091/grouper/grouperExternal/public/assets/css/subbjectPickerExample.css

# put attributeDefNames to search in
searchInAttributeDefNames = test:testAttributeDefName1Def, test:testAttributeDefName2Def

#this is the expression language of how the subject result should appear on screen
#attributeDefNameNameEl = ${attributeDefName.displayName}
attributeDefNameNameEl = ${pickerResultAttributeDefName.grandParentAndDisplayName}


# max results that can be retrieved
maxAttributeDefNamesResults = 1000

# put a URL here where the result (attributeDefNameId, screenLabel, displayName, name, description) will be submitted back
# blank if same domain and just call opener directly
submitResultToUrl = http://localhost:8089/grouper/grouperUi/appHtml/attributeDefNamePickerTestSubmit.html

#if the resource is far down the folder structure, you can remove part of it
removePrefixOnUi = test:
