body {
  background-image: none;
  background-repeat: no-repeat;
}

	
	a.selectedTab { 
	text-decoration: none; 
	color: #39497b; 
	#background-color:#015782;
	background-color:#ffffff;
	text-width:100%;
	padding-left:8px;
	padding-right:8px;
	height:20px;
	line-height:18px;
	}
	
	a.tab { 
	text-decoration: none; 
	color: #ffffff; 
	#background-color:#015782;
	background-color:#39497b;
	text-width:100%;
	padding-left:5px;
	padding-right:5px;
	height:20px;
	line-height:18px;
	}
	
	a:hover.tab{
	text-decoration: underline; 
	color: #FF0000; 
	}


#Navbar {
	position: absolute;
	top: 78px;
	left: 5px;
	
	padding-top: 2px;

	color: #fff;
	background-color: #39497b; /* per GP; was #10104A  */
	font-style: normal;
	font-weight: normal;
	text-align: left;
	height:20px;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	}


#ContentSpace {
	
	width:100%;
    margin-top:100px;   
	margin-left:5px;
	margin-right:0px;
	padding-right:5px
	
	/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	}

#Content {
	padding-top:5px
}

#TitleBox {
	padding-top:20px
}
	
#Sidebar.printerFriendlyNot{
	background-color: #ffffff;
}
#Sidebar {
	position: absolute;
	margin-top:78px;
	margin-left:5px;
	margin-right:150px;
	top: 0px;
	left: 5px;
   width:auto;	
	text-align: left;
	background-color: #ffffff;
	/* top and bottom borders: 1px; left and right borders: 0px */
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	}
/* Again, "be nice to Opera 5". */
body>#Sidebar {width:auto;}



.actionheader {
	text-decoration: none;
	color: #056496;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform : uppercase;
	font-weight: bold;
	background-color: #666;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	}
	
div.actionbox {
	display:inline ! important;
	float:left ! important;
	text-decoration: none;
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	background-color:#39497b;
	#padding: 1px 10px 1px 1px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	
	}
	#header1	{margin: 0px; padding: 0px;
	}
	
	table#header1 td   
{
    vertical-align: middle;
}

table#header1 td    
{
    background-color: #dcdfe8;
}

	
	body	{margin: 0px !important; padding: 0px; color: #000000; background-color: #ffffff}