<div class="section">
<div class="sectionHeader">Membership list</div>
<div class="sectionBody"><br>
<ul>

  ${simpleMembershipUpdate.simpleMembershipList.members[0].subject.description}

  {for theMember in simpleMembershipUpdate.simpleMembershipList.members}
    <li>${theMember.subject.description}</li>
  {/for}  
 


  <li><input name="subjectIds" value="36195632" type="checkbox">
  <div class="memberLink"><span class="subjectSummaryLink"> <a
    href="/grouper/populateSubjectSummary.do?groupId=34ebb988-ce8b-4faa-94d9-b4760baaba1b&amp;start=0&amp;subjectId=36195632&amp;pageSize=50&amp;subjectType=person&amp;callerPageId=1247026056187-635&amp;sourceId=pennperson"
    title="Click to show entity details for: Salam Ibrahim (salamibr, 36195632) Pennpay, Fac (active)"
  > <span class="personSubject">Salam Ibrahim (salamibr, 36195632) Pennpay, Fac
  (active)</span></span> <span class="memberLink"> <a
    href="/grouper/populateGroupMember.do?groupId=34ebb988-ce8b-4faa-94d9-b4760baaba1b&amp;start=0&amp;subjectId=36195632&amp;pageSize=50&amp;subjectType=person&amp;callerPageId=1247026056187-635&amp;sourceId=pennperson"
    title="Click to view / modify privileges for Salam Ibrahim (salamibr, 36195632) Pennpay, Fac (active) on employee"
  >is a direct member</a> </span></div>
  </li>
  <li><input name="subjectIds" value="32210109" type="checkbox">
  <div class="memberLink"><span class="subjectSummaryLink"> <a
    href="/grouper/populateSubjectSummary.do?groupId=34ebb988-ce8b-4faa-94d9-b4760baaba1b&amp;start=0&amp;subjectId=32210109&amp;pageSize=50&amp;subjectType=person&amp;callerPageId=1247026056187-635&amp;sourceId=pennperson"
    title="Click to show entity details for: Anna Buchner (abuchner, 32210109) Pennpay, Fac (active)"
  > <span class="personSubject">Anna Buchner (abuchner, 32210109) Pennpay, Fac
  (active)</span></span>
</ul>
</div>
</div>