<!-- simpleMembershipUpdate/simpleMembershipUpdateMain.html: main page on simpleMembershipUpdate screen -->
<div id="simpleMain">
  <h1>${guiSettings.text.simpleMembershipUpdateTitle}
    <a class="infodotLink" onclick="return guiToggle(event, '#simpleUpdateTopHelp');" href="#">
      <img src="../public/assets/infodot.gif" border="0" alt="Help main" />
    </a>
  </h1>
  <div id="simpleUpdateTopHelp" class="helpText" style="display: none;">
    ${guiSettings.text.simpleMembershipUpdateMainHelp}
  </div>
  <div class="section">
<div class="sectionHeader">Group</div>
    <div class="sectionBody">
      ${pageHelpers.browseStemsLocation(simpleMembershipUpdate.simpleMembershipUpdateInit.group.displayName)}
      
      <table class="formTable" cellspacing="2" style="margin-bottom: 0;">
        <tbody>
          <tr class="formTableRow">
            <td class="formTableLeft"><span class="tooltip"
              onmouseover="grouperTooltip('${guiSettings.text.tooltipGroupDisplayExtension}');" onmouseout="UnTip();"
            >${guiSettings.text.labelGroup} ${guiSettings.text.labelGroupDisplayExtension}</span></td>
      
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.displayExtension)}</td>
          </tr>
          <tr class="formTableRow">
            <td class="formTableLeft"><span class="tooltip"  onmouseout="UnTip();"
              onmouseover="grouperTooltip('${guiSettings.text.tooltipGroupDisplayName}');"
            >${guiSettings.text.labelGroupDisplayName}</span></td>
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.displayName)}</td>
          </tr>
      
          <tr class="formTableRow">
      
            <td class="formTableLeft"><span class="tooltip"  onmouseout="UnTip();" onmouseover="grouperTooltip(
              '${guiSettings.text.tooltipGroupDescription}');">${guiSettings.text.labelGroupDescription}</span></td>
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.description)}</td>
          </tr>
        </tbody>
      </table>
      
      <table class="formTable groupHidden" cellspacing="2" style="margin: 0;">
        <tbody>
          <tr class="formTableRow ">
            <td class="formTableLeft"><span class="tooltip"  onmouseout="UnTip();" onmouseover="grouperTooltip(
              '${guiSettings.text.tooltipGroupExtension}');">${guiSettings.text.labelGroupExtension}</span></td>
      
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.extension)}</td>
      
          </tr>
          <tr class="formTableRow ">
            <td class="formTableLeft"><span class="tooltip"  onmouseout="UnTip();" onmouseover="grouperTooltip(
              '${guiSettings.text.tooltipGroupName}');">${guiSettings.text.labelGroupName}</span></td>
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.name)}</td>
          </tr>
          <tr class="formTableRow ">
            <td class="formTableLeft"><span class="tooltip"   onmouseout="UnTip();" onmouseover="grouperTooltip(
              '${guiSettings.text.tooltipGroupId}');">${guiSettings.text.labelGroupId}</span></td>
      
            <td class="formTableRight">${guiEscapeHtml(simpleMembershipUpdate.simpleMembershipUpdateInit.group.uuid)}</td>
          </tr>
      
        </tbody>
      </table>
      <div style="margin-bottom: 8px;">
        <a class="smallLink" onclick="return guiToggle(event, '.groupHidden');" href="#">Group details</a>
      </div>

    </div>
  </div>

  <div id="simpleMembershipResultsList">
  
  </div>
  
</div>


